/*container*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  gap: 50px;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 93px;
  gap: 50px;
}

.header-adress {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.about-title {
  width: 696px;
  margin-left: auto;
margin-right: auto;

}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about {
  background-image:
    linear-gradient(
      to left bottom,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/about.jpg");
}


.about-more {
  margin-top: 30px;
  border-radius: 4px;
  width: 216px;
  height: 50px;
}

.rules-text {
  margin-top: 10px;
}

.rules-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.rules-item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}

.rules-item:nth-child(2)::before {
  background-image: url("../images/clock.png")
}

.rules-item:nth-child(3)::before {
  background-image: url("../images/diagram.png");
}

.rules-item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}

.rules-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.work-title {
  text-align: center;

}

.work-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 94px;
  gap: 30px;
}

.team-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  gap: 30px;
}

.team-subtitle,
.team-text {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 62px;
  margin-right: 62px;
}

.footer-text {
margin-top: 20px;
}

.footer-page {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
}

/*дізайни*/

.web {
  color: #2196F3;
  padding-top: 24px;
  padding-bottom: 25px;
}
.studio {
  color: black;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer-title .studio {
  color: white;
}

.header-page:hover {
  color: #1b7ff2;
}

.header-contacts:hover {
  color: #1b7ff2;
}

.about-more {
  background-color: #1b7ff2;
  color: #ffffff;
}


.footer-web {
  color: #1b7ff2;
}

.footer-studio {
  color: white;
}

.footer a:hover {
  color: #1b7ff2;
}

.footer {
  background-color: #2f303a;
}

/*Roboto Regular*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.rules-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.team-item {
  width: 270px;
  background: #ffffff;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 4px;         
}

.team-photo {
  display: block;
  width: 100%;
  height: auto;
}

.team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.team-text {
  margin: 0;
  color: #757575;
  font-size: 16px;
}


.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
}

/*Roboto Medium*/

.header-page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-contacts {
  font-style: normal;
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}

.team-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/*Roboto Bold*/

.about-more {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
}

.rules-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.work-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/*Raleway Bold*/

.WebStudio{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}


.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

/*Roboto Black*/
.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
/*paddings*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.about {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.rules {
  padding-top: 94px;
}

.work {
  padding-top: 94px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  padding-top: 52px;
  padding-bottom: 60px;
}