/*container*/
.WebStudio {
  margin-left: 215px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  gap: 50px;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 93px;
  gap: 50px;
}

.header-adress {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 334px;
  margin-right: 215px;
  margin-left: auto;
}

.about-title {
  width: 696px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-more {
  margin-top: 30px;
  border-radius: 4px;
  width: 216px;
  height: 50px;
}

.rules-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 215px;
  margin-right: 215px;
  gap: 30px;
}

.work-title {
  margin-left: 617px;
  margin-right: 617px;
}

.work-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 50px;
  margin-bottom: 94px;
  gap: 30px;
}

.team-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 50px;
  gap: 30px;
}

.team-subtitle,
.team-text {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 62px;
  margin-right: 62px;
}

.footer .container {
  margin-left: 215px;
  gap: 9px;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-page {
  display: flex;
  flex-direction: column;
}

/*дізайни*/

.header-page:hover {
  color: #1b7ff2;
}

.web {
  color: #1b7ff2;
  padding-top: 24px;
  padding-bottom: 25px;
}
.studio {
  color: black;
  padding-top: 24px;
  padding-bottom: 25px;
}

.about-more {
  background-color: #1b7ff2;
  color: #ffffff;
}

.footer-title .studio {
  color: black;
}

.footer h2 {
  color: #ffffff52;
}

.footer a:hover {
  color: #1b7ff2;
}

.footer {
  background-color: #2f303a;
}

/*Roboto Regular*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.rules-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
}

/*Roboto Medium*/

.header-page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-contacts {
  font-style: normal;
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}

.team-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/*Roboto Bold*/

.about-more {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
}

.rules-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.work-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/*Raleway Bold*/

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

/*Roboto Black*/
.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
/*paddings*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.about {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.rules {
  padding-top: 94px;
}

.work {
  padding-top: 94px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  padding-top: 52px;
  padding-bottom: 60px;
}