/*container*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  gap: 50px;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 93px;
  gap: 50px;
}

.header-adress {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 344px;
  margin-right: 215px;
  margin-left: auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-more {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
   font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  white-space: nowrap;
}

.hero-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 96px;
}

.hero-subtitle,
.hero-text {
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px
}

.footer .container {
  gap: 9px;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-page {
  display: flex;
  flex-direction: column;
}

/*designs*/

.WebStudio .web {
  color: #1b7ff2;
}
.WebStudio .studio {
  color: rgb(0, 0, 0);
}

.header-item {
  color: #212121;
}

.header-page {
  color: #212121;
}
.header-page:hover {
  color: #2580ff;
}

.buttons button {
  background-color: #f5f4fa;
}

.hero-more:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
}

.footer-title .web {
  color: #1b7ff2;
}

a.footer-title .studio {
  color: rgb(255, 255, 255);
}

.footer a {
  color: #ffffff52;
}

/*Roboto Regular*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*Roboto Medium*/

.header-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-contacts {
  font-style: normal;
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}

.hero-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

/*Roboto Bold*/
.hero-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

/*Roboto Black*/
.WebStudio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.header-page {
  font-style: normal;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.footer-page {
  font-style: normal;
}

/*paddings*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  padding-top: 52px;
  padding-bottom: 60px;
}
